.header1
{
    
    align-content:center;

}


.about-img-container
{
    
}
.header-name
{   
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    box-sizing: border-box;

}
.header-job
{
    font-family: sans-serif;
    font-size: 18px;
   

}
.nav navbar-nav
{

}
